.resume {
  margin: 1.2rem 0;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
}

.resume a {
  font-family: serif;
  color: black;
}

.resume-header {
}

main {
  margin: 4.5rem 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

h3 {
  margin: 40px 0 0 0;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}
